<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="max-width: 100%;">
        <div class="modal-content">
            <div class="modal-header" ng-show="title">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" ng-bind="title"></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mod-header">
                                    <ul class="ops"></ul>
                                    <h2 class="detail-title">Информация об обратившемся</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">ФИО:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                     <span ng-class="{'em-text' : (!modal.content.stmt_rel.deffered.fam)}">
                                         {{modal.content.stmt_rel.deffered.fam}}
                                         &nbsp;{{modal.content.stmt_rel.deffered.im}}
                                         &nbsp;{{modal.content.stmt_rel.deffered.ot}}
                                     </span>
                                </span>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Тип обращения:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.group.name}}
                                </span>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Тема обращения:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.theme.theme_statement}}
                                </span>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Комментарий обращения:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.theme_statement_description}}
                                </span>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Дата обращения:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.statement_date | date:'dd-MM-yyyy HH:mm:ss'}}
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mod-header">
                                    <ul class="ops"></ul>
                                    <h2 class="detail-title">Результат обращения</h2>
                                </div>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Оператор:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.user.fam}}
                                    &nbsp;{{modal.content.stmt_rel.user.im}}
                                    &nbsp;{{modal.content.stmt_rel.user.ot}}
                                    <br><small>
                                    {{modal.content.stmt_rel.user.company}}
                                    — {{modal.content.stmt_rel.user.role}}
                                </small>
                                </span>
                            </div>
                        </div>

                        <div class="row pd5">
                            <div class="col-md-4">
                                <strong class="name">Результат:</strong>
                            </div>
                            <div class="col-md-8">
                                <span class="value">
                                    {{modal.content.stmt_rel.stmt_status.name}}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$hide()">Закрыть</button>
            </div>
        </div>
    </div>
</div>
